<!-- 自定义关于页 -->

<p style="color: #444;">
    <span class="icon-cogs"></span>
    关于我
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-profile"></span>
        查看<a href="javascript: alert('更新中...');" target="_blank">个人介绍</a>
    </li>
    <li>
        <span class="icon-office"></span>
        2014年7月，毕业于湖北开放职业学院
    </li>
    <li>
        <span class="icon-newspaper"></span>
        现工作于武汉，任职Android开发
    </li>
    <li>
        <span class="icon-envelop"></span>
        联系邮箱 1053834336#qq.com（'#'改为'@'）
    </li>
</ul>

<p style="color: #444;">
    <span class="icon-cogs"></span>
    Github账号
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-github"></span>
        <a href="https://github.com/kingzd" target="_blank">我的Github</a>
    </li>
</ul>

<p style="color: #444;">
    <span class="icon-cogs"></span>
    看雪论坛
</p>

<ul style="list-style-type: none;">
    <li>
        <span class="icon-github"></span>
        <a href="https://bbs.pediy.com/user-804033.htm" target="_blank">我的文章</a>
    </li>
</ul>
